:root {
    --red: #cf0d0d;
    --white: #fffffff6;
}
body {
    min-height: 100%;
    display: flexbox;
    position: relative;
}
header
{
    display: flex;
    justify-content: space-between;
}
.gora li
{
    margin-left: 40px;
    list-style: none;
}
header div li
{
    font-size: 20px;
}
.japawel:hover
{
    width: 500px;
    height: inherit;
    border: 5px;
    border-color: #cf0d0d;
    transition: 5s;
    transform:scale(0.7, 0.7);
    position: absolute;
    overflow: visible;
}
div img
{
    border-radius: 50%;
    display: flex;
    display: inline-block;
}

.nazwa
{
    position: sticky;
}
#p1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
header, section
{
    font-size: 20px;
    width: 70vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color:white;
    opacity: 0.9;
    backdrop-filter: blur(50px);
    position: relative;
}
h2
{
    margin-bottom: 5px;
}
.zgoda
{
    font-style: italic;
}
hr {
    border: 6px solid rgb(16, 18, 16);
    border-radius: 2px; 
}
#p2
{
    line-height: 20px;
    margin-top: 30px;
    font-style: 20px italic bold;
    display: flex;
    justify-content: center;
}
#p1
{
    font-size: 25px;
}
.cv-plik
{
    border: 3px solid aqua;
    color: black;
    text-decoration:none;
    padding: 5px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 26px;
    transition:background-color 0.8s, color 0.8s, font-size 0.6s;
    box-shadow: 5px 5px 20px greenyellow;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
.cv-plik:hover
{
    color:white;
    background-color: aqua;
    font-size: 25px;
}
.cv-plik:focus
{
    outline: none;
    color:white;
    background-color: aqua;
    
}
.cv-plik:active
{
    text-decoration:underline;  
}
ul li img
{
    margin-right: 5px;
}

.w {
    background-color: #2b128e;
    transition: 1s;
}

.p {
    background-color: #34a13c;
    transition: 1s;
}

.c {
    background-color: #ff0000;
    transition: 1s;
}

.y {
    background-color: #fcc203;
    transition: 1s;
}
